<!DOCTYPE html>
<html>

<head>
    <title>Ubiqum Bookstore</title>
    <link rel="shortcut icon" type="image/x-icon" href="styles/book_icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="ubiqumbookstore.css">
    <link href="lightbox2-master/dist/css/lightbox.css" rel="stylesheet">
</head>

<body>
    <div id="bookStoreVue">
        <div class="top">
        </div>
        <div class="container">
            <div class="head">
                <div class="logo">
                    <div>
                        <img id="bookLogo" src="styles/openBookRed.png">
                    </div>
                    <div>
                        <h1> Ubiqum <span>Bookstore</span></h1>
                    </div>
                </div>
                <div class="search">
                    <input type="text" v-model="search" placeholder=" Search for books...">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="bookCase" class="books">
                <div v-for="item in filterBooks">
                    <div class="flip-card" id="flipCard">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img v-bind:src="item.cover" alt="">
                            </div>
                            <div class="flip-card-back">
                                <h4 id="bookTitle">{{item.title}}</h4>
                                <h5>{{item.description}}</h5>
                                <a :href="item.detail" data-lightbox="coverImage"><button type="button" class="btn btn-dark">More info</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="sticky-bottom">
            <p>Ubiqum Bookstore | 2019 | created by claudiacrpsg</p>
        </footer>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="bookstore.js"></script>
<script src="lightbox2-master/dist/js/lightbox-plus-jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
</script>

</html>